<div class="container">

  <h1>Cocktail numéro <%= @cocktail.id %></h1>

  <h3><%= @cocktail.name %></h3>

  <p>Here are the ingredients you need to make this cocktail:</p>

  <ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %>  
    </li>
  <% end %>
  </ul>

  <p>Here are the doses</p>

  <% @cocktail.doses.each do |dose| %>
  <div class="list-group-item">
   <p><%= dose.description %></p>
   <%= link_to "Remove",
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  </div>
  <% end %>

  <p>Add a new dose</p>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <li class="list-group-item">
      <%= f.association :ingredient %>
      <%= f.input :description, label: "Describe what to do" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    </li>
  <% end %>

</div>

